name: Automation Exercise

on: [push]
jobs:
  style_check:
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v6
        - uses: actions/setup-python@v6
          with:
            python-version: '3.10'
        - name: "Install style checker"
          run: pip install black
        - name: "Run style check"
          run: black --check .
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: '3.10'
      - name: "Install coverage"
        run: python -m pip install coverage
      - name: "Install pytest"
        run: python -m pip install pytest
      - name: "Install numpy"
        run: python -m pip install numpy
      - name: "Install matplotlib"
        run: python -m pip install matplotlib
      - name: "Run unittest"
        run: python -m coverage run -m pytest
      - name: "Upload Artifact"
        uses: actions/upload-artifact@v4
        with:
          name: coverage-data
          path: .coverage
          include-hidden-files: true
          retention-days: 1
  coverage_report:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-python@v6
        with:
          python-version: '3.10'
      - name: "Install coverage"
        run: python -m pip install coverage
      - name: "Download Artifact"
        uses: actions/download-artifact@v4
        with:
          name: coverage-data
          path: coverage-data
      - name: "create report"
        run: python -m coverage report
      - name: "create xml"
        run: python -m coverage xml
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: .coverage.xml
          path: .coverage.xml
          include-hidden-files: true
          retention-days: 14
