name: Automation Exercise

on: [push]
jobs:
  style_check:
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v6
        - uses: actions/setup-python@v6
          with:
            python-version: '3.10'
        - name: "Install style checker"
          run: pip install black
        - name: "Run style check"
          run: black --check .